
/********** Maquetación general de la página **********/ 

body {
	font-family:Arial;
    font-size:10pt;
}


#cabecera {
	display:bock;
	clear:both;
}

#cabecera nav {
	display:table;
	width:100%;
	background:#484848;
	border-collapse:collapse;
}


#cabecera nav ul {
	display:table-row;

}

#cabecera nav ul li {
	display:table-cell;
	margin:0;
	padding:5px;
}


#main-menu li a {
	display:block;
	min-width:100px;
	text-decoration:none;
	text-align:center;
	color:white;
}

#main-menu .active {
	background:LightGray;
}

#main-menu .active a {
   color:#484848;
}

#cuerpo {
	display:block;
	clear:both;
	margin-top:30px;
}

#cuerpo #menu2 {
	border:1px solid black;
	border-radius:3px;
	width:15%;
	float:left;
	margin-top:80px;
	margin-right:20px;
}

#cuerpo #menu2 ul {
        padding:5px;
	list-style-type:none;
        list-style-position: inside;
}


#cuerpo #menu2 a {
	color:black;
    text-decoration:none;
}


#cuerpo #menu2 #titulo {
	background:Orange; /*LightGray;*/
	text-align:center;
	padding:5px 7px;
	border-bottom:2px solid DarkOrange; /*DarkGray;*/
}

#cuerpo #menu2 .active {
    font-weight:bold;
}

#cuerpo #menu2 .titulo { 
    font-weight:bold;
    background:#e6e6e6;
    padding:5px;
}


#cuerpo #menu2 .submenu a {
    color:black;
    text-decoration:none;
}


#cuerpo #contenido {
	float:left;
	width:65%;
}

/********** Márgenes para bloques ************/

.centro {
	margin-left:auto;
	margin-right: auto;
}

.margen1 {
	margin-left:30%;
}


.margen2 {
	margin-left:20%;
}

.margen4 {
	margin-left:10%;
}

/* ************* Formularios ************ */

.form {
	display:table;
}

.form p {
	display:table-row;
}

.form label {
	display:table-cell;
	padding-right:7px;
    padding-bottom:2px;
}

.form input, .form select {
	display:table-cell;
    padding-bottom:2px;
}

.form input[type="text"], .form select {
	border:1px solid DarkGray;
}

.gris {
    color:gray;
}

a.btn {
    text-decoration:none;
    display:block;
    text-align:center;
}

.btn {
    border:1px solid orange;
    background:orange;
    color:white;
}

.btn-gris {
    border:1px solid LightGray;
    background:LightGray;
    color:black;
}


.ancho1 {
	min-width:80%;
}

.ancho2 {
	min-width:60%;
}

.ancho3 {
	min-width:40%;
}

/******** Tablas *************/

/*
.tabla {
    border-bottom:1px solid DarkGray;
    border-radius:5px;
}

.tabla th {
    background:#585858;
    color:white;
    padding:3px;
}

.tabla tr:nth-child(even) {
	background:#F0F0F0; 
}

.tabla tr > td:first-of-type {
    padding-left:1em;
}
*/
.tbl {
    border-collapse:collapse;
    margin-top:15px;
}


.tbl tr.encabezado {
    background:#E5E4E2;
    color:black;
    border-bottom:1px solid black;
}

.tbl .encabezado td {
    padding:10px 10px;
}

.tbl .encabezado a {
    color:black;
    /*font-weight: bold;*/
}


.tbl tr.fila {
    border-bottom:1px solid LightGray;
   
}

.tbl .fila td {
    padding-left:1em;
}

.tbl-acordeon {
    border-collapse:collapse;
    margin-top:15px;
}
.tbl-acordeon tr.encabezado-anio {
    background:#F5F5F5;
    color:#696969;
    border-bottom:1px solid black;
    display: none;
}

.tbl-acordeon .encabezado-anio td {
    padding:10px 10px;
}

.tbl-acordeon .encabezado-anio a {
    color:#696969;
    /*font-weight: bold;*/
}

.tbl-acordeon tr.encabezado-anios {
    background:#F5F5F5;
    color:#696969;
    border-bottom:1px solid black;
   
}

.tbl-acordeon .encabezado-anios td {
    padding:10px 10px;
}

.tbl-acordeon .encabezado-anios a {
    color:#696969;
    /*font-weight: bold;*/
}

.tbl-acordeon tr.encabezado-anioplan {
    background:#E5E4E2;
    color:black;
    border-bottom:1px solid black;
  
}

.tbl-acordeon .encabezado-anioplan td {
    padding:10px 10px;
}

.tbl-acordeon .encabezado-anioplan a {
    color:black;
    /*font-weight: bold;*/
}

.tbl-acordeon tr.encabezado {
    background:#E5E4E2;
    color:black;
    border-bottom:1px solid black;
}

.tbl-acordeon .encabezado td {
    padding:10px 10px;
}

.tbl-acordeon .encabezado a {
    color:black;
    /*font-weight: bold;*/
}

.tbl-acordeon tr.fila {
    border-bottom:1px solid LightGray;
    display:none;
}

.tbl-acordeon .fila td {
    padding-left:1em;
}
/* ********* Textos ********** */

.txt-centro {
	text-align:center;
}

/* ********** Elemento panel ********* */

.panel {
	margin-top:15px;
	border:1px solid gray;
	border-radius:5px;	
}

.panel-titulo {
	background:gray;
    color:white;
    padding:4px;
}

.panel-cuerpo {
	padding:5px;
}

.aviso {
    border:1px solid goldenrod;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    background:#FFFF99;
    padding:15px;
    color:goldenrod;
    border-radius:5px;
    display:none;
}

/* ******** Ventanas modales ******* */

#mascara {
	position:absolute;
	z-index:9000;
	background-color:#000;
	display:none;
}

.arrastrable {}

.dialogo {
    position:fixed;
    width:440px;
    //height:820px;
    display:none;
    background:white;
    z-index:9999;
    padding:20px;
    border:2px solid black;
    border-radius:5px;
    box-shadow:15px 15px 10px #888888;
}

.lst-dos-filas{
    list-style-type: none;
    
}


#contenido h1 {
    background:LightGray;
    width:100%;
    text-align:center;
    font-size:12pt;
    color:White;
    text-align:left;
    padding:5px 25px;
    border-radius:10px;
}


#form-login {
    //margin-top:200px;
    border:1px solid black;
    border-radius:5px;
    margin: 150px auto;
    width:250px;
}

#form-login #form-titulo {
    background:black;
    color:white;
    text-align:center;
    font-weight: bold;
    padding:5px;
    margin-bottom:15px;
}

#form-login input[type="text"], 
#form-login input[type="password"] {
    width:240px;
    border:1px solid darkgray;
    border-radius:5px;
    margin:2px auto;
}

#form-login #botones {
   margin:15px 0;
}

#form-login #botones input {
   // width:140px;
    display:inline;
}
